.product-details {
    flex: 0.49;
    padding-right: 0.5rem;
    align-items: flex-start;
}

.product-details-item {
    flex: 1;
    border: solid 2px black;
    margin-top: 2.1%;
}

.product-details-header {
    background-color: white;
    margin-top: -0.8rem;
    width: 8rem;
    text-align: center;
    margin-left: 1rem;
}